---
layout: two-column
---
<object hidden="hidden" id="assignment-flag-custom"></object>
<object hidden="hidden" id="canvas_id">{{page.canvas_id}}</object>
<object hidden="hidden" id="due_date">{{page.due_date}}</object>
<object hidden="hidden" id="canvas_assignment_group">{{page.canvas_assignment_group}}</object>
<object hidden="hidden" id="canvas_submission_types">{{page.canvas_submission_types}}</object>
<object hidden="hidden" id="canvas_allowed_extensions">{{page.canvas_allowed_extensions}}</object>
<object hidden="hidden" id="canvas_points_possible">{{page.canvas_points_possible}}</object>
{{ content }}
