---
layout: single-column
show_outline: 1
show_schedule: 1
---
{% if page.lec_assignment %}
<object hidden="hidden" id="assignment-flag-custom"></object>
<object hidden="hidden" id="canvas_id">{{page.canvas_id}}</object>
<object hidden="hidden" id="due_date">{{page.due_date}}</object>
<object hidden="hidden" id="canvas_assignment_group">{{page.canvas_assignment_group}}</object>
<object hidden="hidden" id="canvas_submission_types">{{page.canvas_submission_types}}</object>
<object hidden="hidden" id="canvas_allowed_extensions">{{page.canvas_allowed_extensions}}</object>
<object hidden="hidden" id="canvas_points_possible">{{page.canvas_points_possible}}</object>
{% endif %}

{{content}}

<hr>

<h2 id="do-now">Today's Resources</h2>
{% assign num = 1 %}

{% if page.exercise_url %}
    <h3 style="padding-bottom:10px;" id="code">{{num}}. Exercise Files</h3> 
    <a class="nu-button" href="{{site.url}}/course-files/lectures/{{page.exercise_url}}" target="_blank">
        Download Exercise Files <i class="fas fa-download"></i>
    </a>
    {% assign num = num | plus: 1 %}
{% endif %}

{% if page.slides %}
<h3 style="padding-top:20px;" id="slides">{{num}}. Slides</h3>
{% assign num = num | plus: 1 %}
    <ul>
    {% for slide in page.slides %}
        <li>
            <a href="{{slide.url}}" target="_blank">{{slide.title}}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if page.videos %}
<h3 style="padding-top:15px;" id="videos">{{num}}. Pre-Recorded Lecture Video(s), Mini-Quizzes, and Live Recordings</h3>
{% assign num = num | plus: 1 %}

    <table class="medium module">
        <caption>Available Videos</caption>
        <thead>
            <tr>
                <th scope="col">Link</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Duration</th>
            </tr>
        </thead>
        <tbody>
        {% assign vnum = 1 %}
        {% for video in page.videos %}
            {% assign className = "recorded" %}
            {% assign type = "pre-recorded" %}
            {% if video.live %}
                {% assign className = "live" %}
                {% assign type = "lecture" %}
            {% endif %}
            {% if video.quiz %}
                {% assign className = "quizzes" %}
                {% assign type = "video_quiz" %}
            {% endif %}
            {% assign label = "Video" | append: " " | append: vnum %}
            {% if video.chat %}
                {% assign label = "Chat" %}
                {% assign type = "chat" %}
            {% endif %}
            <tr>
                <td>
                    {% if video.quiz %}
                    <a class="{{ className }}" style="padding-left: 8px; padding-right: 8px" >
                        {{label}}
                    </a>
                    {% else %}
                    <a class="{{ className }}" href="{{video.url}}" target="_blank">
                        {{label}} <i class="fa fa-link"></i>
                    </a>
                    {% endif %}
                </td>
                <td>
                    {{video.title}}
                </td>
                <td>
                    {{ type }}
                </td>
                <td>
                    {{ video.duration }}
                </td>
            </tr>
            {% assign vnum = vnum | plus: 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}




{% if page.readings %}
    {% if page.type == "ethics" %}
    <h3 style="padding-top:15px;" id="readings">{{ num }}. Assigned Readings</h3>
    {% else %}
    <h3 style="padding-top:15px;" id="readings">{{ num }}. Supplemental Materials</h3>
    {% endif %}
    {% include page_readings.html %} 
    {% assign num = num | plus: 1 %}
{% endif %}

{% if page.mini_quiz_id %}
<h3 style="padding-top:10px;" id="quiz">{{ num }}. Mini-Quiz {{ page.mini_quiz_num }}: {{page.mini_quiz_title}}</h3>
<p>
    If you did not participate in class then you should use this Canvas Quiz as a substitute. If you are not physically present in
    the classroom, do NOT attempt to participate in the PollEverywhere activities through any means. Doing so is a violation
    of our Academic Honesty policy and you will be reported to your Dean of Students for violation of said policy.
    <br>
    <ul>
    <li><a href="{{ site.canvas_url }}/{{page.mini_quiz_id}}" target="_blank">Mini-Quiz {{ page.mini_quiz_num }}</a></li>
    </ul>
</p>
{% assign num = num | plus: 1 %}

{% endif %}

{% if page.quiz_url %}
    <h3 style="padding-top:15px;" id="quiz">{{ num }}. Take the Practice (Ungraded) Quiz</h3>
    <p>
        Note: The quiz is to help you test your own understanding 
        of the concepts. It is not graded, and is designed to help you to see 
        what you already know and what you should review / ask about.<br>
        <a href="{{page.quiz_url}}" target="_blank">{{page.quiz_url}}</a>
    </p>
    {% assign num = num | plus: 1 %}
{% endif %}

{% if page.extras %}
    <h2 style="padding-top:15px;" id="reminders">Reminders</h2>
    <ul>
        {% for extra in page.extras %}
            <li>
                {% if extra.url %}
                    <a href="{{extra.url}}">{{extra.title}}</a>
                {% else %}
                    {{extra.title}}
                {% endif %}
                <br>{{extra.comments}}
                
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if page.include_page %}
    {% capture my_include %}{% include_relative {{ page.include_page }} %}{% endcapture %}
    {{ my_include | markdownify }}
{% endif %}

{% if page.include_pages %}
    {% for inc in page.include_pages %}
        {% capture my_include %}{% include_relative {{ inc }} %}{% endcapture %}
        {{ my_include | markdownify }}
        {% assign num = num | plus: 1 %}
    {% endfor %}
{% endif %}
