<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    {% if page.canvas_title %}
    <title>{{ page.canvas_title }}</title>
    {% else %}
    <title>{{page.title}}</title>
    {% endif %}
    <body class="two-column">
        <div class="wrapper">

            <div class="sidebar">
                {% include toc.html html=content class='side-menu' ordered=true %}
            </div>

          <article>
            <div class="main">
                {{ content }}
            </div>
        </article>
      </div>
        {{ page.additional_html }}
    </body>
</html>
